<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <% include includes/vue.ejs %>
    <% include includes/axios.ejs %>
    <% include includes/semantic.ejs %>
    <% include includes/styles.ejs %>
    <script type="text/javascript">
        window.onload = function () {
            new Vue({
                el: '#app',
                data: {
                    employee: <%- JSON.stringify(employee || {}) %>,
                    errors: [],
                    success: null
                },
                methods: {
                    validate: function () {
                        this.errors = [];

                        // TODO: Check the values before sending them

                        // Defining the current mode (creation / modification)
                        if (this.employee.id) {
                            axios
                                .put('/employees/' + this.employee.id, {employee: this.employee})
                                .then(() => {
                                    setTimeout(this.goToEmployees, 2000);
                                    this.success = 'Successfully edited the employee';
                                })
                                .catch(() => {
                                    this.errors.push('Unable to edit the employee, please retry later');
                                });
                        } else {
                            axios
                                .post('/employees/new', {employee: this.employee})
                                .then(() => {
                                    setTimeout(this.goToEmployees, 2000);
                                    this.success = 'Successfully created the employee';
                                })
                                .catch(() => {
                                    this.errors.push('Unable to create the employee, please retry later');
                                });
                        }
                    },
                    goToEmployees: function () {
                        window.location.replace('/employees');
                    }
                }
            });
        }
    </script>
</head>
<body>
<div class="ui secondary pointing menu">
    <a class="item">
        Dashboard
    </a>
    <a class="active item">
        Employees
    </a>
    <a class="item">
        Sectors
    </a>
    <div class="right menu">
        <a class="ui item">
            Logout
        </a>
    </div>
</div>
<div id="app">
    <div class="ui padded container clearing segment">


        <div class="ui breadcrumb">
            <a class="section" href="/employees">Employees</a>
            <span class="divider">/</span>
            <div class="active section" v-if="employee.id">Edit the employee details</div>
            <div class="active section" v-else>Create a new employee</div>
        </div>

        <div class="ui positive message" v-if="success && success.trim().length > 0">
            <div class="header">{{ success }}</div>
        </div>

        <div class="ui negative message" v-if="errors.length > 0">
            <div class="header">Could not validate the form</div>
            <ul>
                <li v-for="error in errors">{{ error }}</li>
            </ul>
        </div>

        <h2 class="ui header" v-if="employee.id">Edit the employee details</h2>
        <h2 class="ui header" v-else>Create a new employee</h2>

        <form class="ui form">
            <div class="field">
                <label>First name</label>
                <input type="text" v-model="employee.firstName" maxlength="35" required/>
            </div>
            <div class="field">
                <label>Last name</label>
                <input type="text" v-model="employee.lastName" maxlength="35" required/>
            </div>
            <div class="field">
                <label>Email address</label>
                <input type="email" v-model="employee.emailAddress" maxlength="50"/>
            </div>
            <div class="field">
                <label>Phone number</label>
                <input type="text" v-model="employee.phoneNumber" maxlength="12"/>
            </div>
            <div class="field">
                <label>Job description</label>
                <textarea cols="30" rows="5" v-model="employee.jobDescription" maxlength="255"></textarea>
            </div>
            <div class="inline fields">
                <label for="fruit">Gender:</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" v-model="employee.genderType" value="M" name="gender"/>
                        <label>Man</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" v-model="employee.genderType" value="F" name="gender"/>
                        <label>Woman</label>
                    </div>
                </div>
            </div>
            <div class="ui right floated teal button" v-on:click="validate()">
                <i class="check icon"></i>
                Validate
            </div>
            <div class="ui right floated button" v-on:click="goToEmployees()">
                <i class="times icon"></i>
                Cancel
            </div>
        </form>
    </div>
</div>
</body>
</html>
